.idea/
wp-config.php
wp-content/themes/twentyten
wp-content/themes/twentyeleven
wp-content/themes/twentytwelve
wp-content/themes/twentythirteen
wp-content/themes/twentyfourteen
wp-content/themes/francishadid
.htaccess
