aside.sidebar {
  @include grid-column(12);
  background-color: black;
  color: white;

  h3 {
    border-top: 1px solid white;
    margin: 0 0 0.5em 0;
    padding-top: 0.5em;
    font-size: $h5-font-size;
    &:first-child {
      margin-top: 0;
    }
    color: white;
  }
  .widget_text {
    margin-bottom: 1em;
  }
  .textwidget {
    padding: 0.5em 0;

  }
  p {
    font-size: 0.9em;
    line-height: 1.5em;
    font-family: Georgia;
    color: white;
  }
  a i, i {
    color: black;
    background-color: white;
    font-size: 2em;
    transition: color 0.2s ease-in;
    cursor: pointer;
    &:hover {
      background-color: #1a1a1a;
    }
  }
  @media #{$medium-up} {
    @include grid-column(3);
    background-color: white;
    color: black;
    h3, p {
      color: black;

    }
    h3 {
      border-color: black;
    }
   a i, i {
      color: white;
      background-color: black;
      &:hover {
        background-color: #1a1a1a !important;
      }
    }


  }

}